In [3]:
#this is fun1
def mul(a):
    return a*2;

In [4]:
mul(10)

20

In [5]:
#using maps
seq=[1,2,3,4,5]
map(mul,seq)

In [6]:
list(map(mul,seq))

[2, 4, 6, 8, 10]

In [7]:
#fun1 as lamda exp
def mul(a): return a*2

In [8]:
mul(10)

20

In [11]:
lambda a:a*2 #no need to deine and retunrn

In [12]:
t=lambda a:a*2

In [13]:
t(10)

20

In [14]:
#used of map lambda
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [15]:
#we will filter out a elements out of sequence
filter(lambda num:num%2==0,seq)

In [16]:
list(filter(lambda num:num%2==0,seq))

[2, 4]

In [17]:
#manipulatig
s="hello"

In [21]:
#click s.tab
s.upper()

'HELLO'

In [22]:
#use of split
str="hello this is mounica"

In [25]:
str.split()

['hello', 'this', 'is', 'mounica']

In [26]:
#splits acording to white space
str1="go to #sports"
str1.split()

['go', 'to', '#sports']

In [28]:
#split the string upto finding #tag
str1.split('#')

['go to ', 'sports']

In [29]:
str1.split('#')[0]

'go to '

In [30]:
str1.split('#')[1]

'sports'

In [31]:
#tuples
x=[(1,2),(3,4),(5,7)]
for itm in x:
    print(itm)

(1, 2)
(3, 4)
(5, 7)

In [32]:
for (a,b) in x:
    print(a)

1
3
5

In [33]:
for (a,b) in x:
    print(b)

2
4
7

In [34]:
for (a,b) in x:
    print(a,b)

1 2
3 4
5 7

In [35]:
for a,b in x:
    print(a,b)

1 2
3 4
5 7